<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-edit"></i> Articles <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a data-th-href="@{/articles}">Tous les articles</a></li>
                    <li><a data-th-href="@{/article/create}">Ajouter</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>